# 1_Office365_install2016 - v7.ps1
# 1_uninstall2013_install2016 - v7.cmd
notes.ipynb
# .cmd
# .testing
Install_Quicksupport_Anydesk(test).cmd
Install_Quicksupport_Anydesk.cmd
# Vogels directory
Vogels